@import "../../styles/GlobalStyle.scss";

.Notify_container {
  display: flex;
  width: 100%;
  align-items: center;
}
h3 {
  font-size: 1.25rem;
  margin-bottom: 0.2rem;
}
p {
  font-size: 1rem;
}
.icon {
  margin-right: 1rem;
}
.info {
  margin-bottom: 1.25rem;
  color: #325981;
  border: 1px solid #b6d9fd;
  background-color: #cde5fe;
}
.success {
  background-color: #2b2b2b;
}
.error {
  background-color: #2b2b2b;
}

@media screen and (max-width: 320px) {
  p {
    font-size: 0.8rem;
  }
}
